<div class="container d-flex min-vh-100">
  <mat-card class="flex-column form-wrapper w-auto m-auto text-center px-sm-5 py-sm-4">
    <form id="login-form" (ngSubmit)="onSubmit()">
      <mat-card-title>
        <h4 class="my-0">{{translations.TITLE_LOGIN}}</h4>
      </mat-card-title>
      <mat-card-content>
        <mat-form-field class="w-100 mb-2">
          <input matInput placeholder="{{translations.ENTER_NICK}}" [formControl]="nick" autocomplete="off" required>
        </mat-form-field>
        <mat-form-field class="w-100">
          <input matInput placeholder="{{translations.ENTER_PASSWORD}}" [type]="passwordVisibilityState ? 'password' : 'text'" [formControl]="password" autocomplete="off" required>
          <mat-icon matSuffix (click)="passwordVisibilityState = !passwordVisibilityState; onPasswordVisibilityStateClick(passwordVisibilityState)" class="cursor-pointer">{{passwordVisibilityState ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="p-0 mb-0">
        <button type="button" mat-raised-button color="accent" class="text-uppercase" (click)="goToRegister()">{{translations.TITLE_REGISTER}}</button>
        <button type="submit" mat-raised-button color="primary" class="text-uppercase" [disabled]="form.invalid">{{translations.ACTION_LOGIN}}</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
