<div class="container content-wrapper my-5">
  <mat-tab-group dynamicHeight>

    <mat-tab>
      <ng-template mat-tab-label>
        <h4 class="my-0">{{translations.TITLE_CREATE_GROUP}}</h4>
      </ng-template>
      <form id="group-creation-form" class="d-flex flex-column mx-auto w-25" (ngSubmit)="createGroup()">
          <mat-form-field class="w-100 mb-2">
            <input matInput placeholder="{{translations.ATTRIBUTE_GROUP_NAME}}" [formControl]="groupName" autocomplete="off" required>
          </mat-form-field>
          <button type="submit" mat-raised-button color="primary" class="text-uppercase" [disabled]="groupCreationForm.invalid">{{translations.ACTION_CREATE_GROUP}}</button>
      </form>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <h4 class="my-0">{{translations.ACTION_ADD_STUDENT_TO_GROUP}}</h4>
      </ng-template>
      <form id="group-student-add-form" class="d-flex flex-column mx-auto w-25" (ngSubmit)="addStudentToGroup()">
        <mat-form-field class="w-100 mb-2">
          <mat-select placeholder="{{translations.TITLE_GROUP}}" [formControl]="selectGroup" required>
            <mat-option *ngFor="let group of groups" [value]="group.id">
              {{group.groupName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-100 mb-2">
          <mat-select placeholder="{{translations.TITLE_STUDENT}}" [formControl]="selectStudent" required>
            <mat-option *ngFor="let student of students" [value]="student.id">
              {{student.nick}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" class="text-uppercase" [disabled]="groupStudentAddForm.invalid">{{translations.ACTION_ADD}}</button>
      </form>
    </mat-tab>

    <mat-tab *ngFor="let group of groups">
      <ng-template mat-tab-label>
        <h4 class="my-0">{{translations.TITLE_STUDENTS}} {{group.groupName}}</h4>
      </ng-template>
      <h4 *ngIf="group.students.length < 1" class="mx-auto text-center">{{translations.EMPTY_GROUP}}</h4>
      <table mat-table [dataSource]="group.students" class="w-100" *ngIf="group.students.length > 0">

        <ng-container matColumnDef="nick">
          <th mat-header-cell *matHeaderCellDef>{{translations.ATTRIBUTE_NICK}}</th>
          <td mat-cell *matCellDef="let element">{{element.nick}}</td>
        </ng-container>

        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef>{{translations.ATTRIBUTE_AGE}}</th>
          <td mat-cell *matCellDef="let element">{{element.age}}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>{{translations.ATTRIBUTE_ACTIONS}}</th>
          <td mat-cell *matCellDef="let element"><mat-icon class="cursor-pointer" (click)="removeStudentFromGroup(group.id, element.id)">delete</mat-icon></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-tab>

  </mat-tab-group>
</div>
