<div class="container my-5">
  <div class="row">
    <div class="col-4">
      <div class="col-12 content-wrapper">
        <h4 class="mt-0 mb-4 text-center">{{translations.TITLE_CREATE_TASK_GROUP}}</h4>
        <form id="task-group-creation-form" class="d-flex flex-column mx-auto w-75" (ngSubmit)="createTaskGroup()" #createTaskGroupNgForm="ngForm">
          <mat-form-field class="w-100 mb-2">
            <input matInput placeholder="{{translations.ATTRIBUTE_TASK_GROUP_NAME}}" [formControl]="taskGroupName" autocomplete="off" required>
          </mat-form-field>
          <div class="w-100 mb-4">
            <mat-checkbox [(ngModel)]="isTestTaskGroup" name="isTestTaskGroup">{{translations.ATTRIBUTE_TASK_IS_TEST_GROUP}}</mat-checkbox>
          </div>
          <button type="submit" mat-raised-button color="primary" class="text-uppercase" [disabled]="taskGroupCreationForm.invalid">{{translations.ACTION_ADD}}</button>
        </form>
      </div>
      <div class="col-12 content-wrapper mt-4" *ngIf="taskGroups.length > 0">
        <h4 class="mt-0 mb-2 text-center">{{translations.TITLE_TASK_GROUPS}}</h4>
        <ul class="list-unstyled w-75 mx-auto">
          <li class="mb-1" *ngFor="let taskGroup of taskGroups" [ngClass]="{'font-weight-bold font-italic': taskGroup.isTestTaskGroup}">{{taskGroup.taskGroupName}}</li>
        </ul>
      </div>
    </div>
    <div class="col-8">
      <div class="col-12 content-wrapper">
        <h4 class="mt-0 mb-4 text-center">{{translations.TITLE_CREATE_TASK}}</h4>
        <form id="task-creation-form" class="d-flex flex-column mx-auto w-75" (ngSubmit)="createTask()" #createTaskNgForm="ngForm">
          <mat-form-field class="w-100 mb-2">
            <input matInput placeholder="{{translations.ATTRIBUTE_TASK_TITLE}}" [formControl]="taskTitle" autocomplete="off" required>
          </mat-form-field>
          <mat-form-field class="w-100 mb-2">
            <mat-select placeholder="{{translations.TITLE_ATTRIBUTE_TASK_GROUP}}" [formControl]="selectTaskGroup" required>
              <mat-option *ngFor="let taskGroup of taskGroups" [value]="taskGroup.id">
                {{taskGroup.taskGroupName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="w-100 mb-2">
            <mat-select placeholder="{{translations.ATTRIBUTE_TASK_TYPE}}" [formControl]="selectTaskType" (selectionChange)="onTaskTypeSelect()" required>
              <mat-option *ngFor="let taskType of taskTypes" [value]="taskType['code']">
                {{taskType['translation']}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="w-100 mb-2">
            <input matInput placeholder="{{translations.ATTRIBUTE_TASK_WEIGHT}}" [formControl]="taskWeight" type="number" [min]="1" [max]="10" autocomplete="off" required>
          </mat-form-field>
          <mat-form-field class="w-100 mb-2">
            <input matInput placeholder="{{translations.ATTRIBUTE_TASK_POINTS}}" [formControl]="taskPoints" type="number" [min]="1" [max]="20" autocomplete="off" required>
          </mat-form-field>
          <mat-form-field class="w-100 mb-2">
            <textarea matInput
                      placeholder="{{translations.ATTRIBUTE_TASK_CONTENT}}" [formControl]="taskContent"
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="2"
                      cdkAutosizeMaxRows="5"
                      autocomplete="off"
                      required></textarea>
          </mat-form-field>
          <!-- T_01 -->
          <div *ngIf="selectTaskType.value === 'T_01'">
            <mat-form-field class="w-100 mb-2">
              <input matInput placeholder="{{translations.ATTRIBUTE_TASK_CORRECT_SOLUTION}}" [formControl]="taskCorrectSolution" autocomplete="off">
            </mat-form-field>
          </div>
          <!-- T_01 -->

          <!-- T_02 -->
          <div *ngIf="selectTaskType.value === 'T_02'">
            <mat-form-field class="w-100 mb-2">
            <textarea matInput
                      placeholder="{{translations.ATTRIBUTE_TASK_TIP}}" [formControl]="taskTip"
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="2"
                      cdkAutosizeMaxRows="5"
                      autocomplete="off"></textarea>
            </mat-form-field>
            <mat-form-field class="w-100 mb-2">
              <input matInput placeholder="{{translations.ATTRIBUTE_TASK_CORRECT_SOLUTION}}" [formControl]="taskCorrectSolution" autocomplete="off">
            </mat-form-field>
          </div>
          <!-- T_02 -->

          <!-- W_01 -->
          <div *ngIf="selectTaskType.value === 'W_01'">
            <mat-form-field class="w-100 mb-2">
              <input matInput #itemValue [placeholder]="translations.TITLE_ADD_SOLUTION_PLACEHOLDER" autocomplete="off">
              <mat-icon class="cursor-pointer" matSuffix (click)="addWTypeSolution(itemValue.value); itemValue.value = ''">add_circle_outline</mat-icon>
            </mat-form-field>
            <mat-radio-group [formControl]="taskCorrectSolution">
              <ul class="list-unstyled">
                <li class="mb-3" *ngFor="let wTypeSolution of wTypeSolutions">
                  <mat-radio-button [value]="wTypeSolution">{{wTypeSolution}}</mat-radio-button>
                </li>
              </ul>
            </mat-radio-group>
          </div>
          <!-- W_01 -->

          <!-- W_02 -->
          <div *ngIf="selectTaskType.value === 'W_02'">
            <mat-form-field class="w-100 mb-2">
              <input matInput #itemValue [placeholder]="translations.TITLE_ADD_SOLUTION_PLACEHOLDER" autocomplete="off">
              <mat-icon class="cursor-pointer" matSuffix (click)="addWTypeSolution(itemValue.value); itemValue.value = ''">add_circle_outline</mat-icon>
            </mat-form-field>
            <ul class="list-unstyled">
              <li class="mb-3" *ngFor="let wTypeCheckboxSolution of wTypeCheckboxSolutions">
                <mat-checkbox [(ngModel)]="wTypeCheckboxSolution['check']" [ngModelOptions]="{standalone: true}" value="true">{{wTypeCheckboxSolution['text']}}</mat-checkbox>
              </li>
            </ul>
          </div>
          <!-- W_02 -->

          <!-- W_03 -->
          <div *ngIf="selectTaskType.value === 'W_03'">
            <mat-radio-group [formControl]="taskCorrectSolution">
              <ul class="list-unstyled">
                <li class="mb-3"><mat-radio-button value="1">{{translations.TITLE_TRUE}}</mat-radio-button></li>
                <li class="mb-3"><mat-radio-button value="0">{{translations.TITLE_FALSE}}</mat-radio-button></li>
              </ul>
            </mat-radio-group>
          </div>
          <!-- W_03 -->

          <!-- W_04 -->
          <div *ngIf="selectTaskType.value === 'W_04'">
            <mat-form-field class="w-100 mb-2">
              <input matInput #firstPartItemValue [placeholder]="translations.TITLE_ADD_SOLUTION_PLACEHOLDER" autocomplete="off">
              <mat-icon class="cursor-pointer" matSuffix (click)="addWTypeToPartOfSolution(firstPartItemValue.value, 1); firstPartItemValue.value = ''">add_circle_outline</mat-icon>
            </mat-form-field>
            <mat-form-field class="w-100 mb-2">
              <input matInput #secondPartItemValue [placeholder]="translations.TITLE_ADD_SOLUTION_REASON_PLACEHOLDER" autocomplete="off">
              <mat-icon class="cursor-pointer" matSuffix (click)="addWTypeToPartOfSolution(secondPartItemValue.value, 2); secondPartItemValue.value = ''">add_circle_outline</mat-icon>
            </mat-form-field>
            <div class="row">
              <div class="col-6">
                <div class="col-12">
                  <h5 *ngIf="wTypeFirstPartOfSolutions.length > 0" class="mt-0 mb-2 text-center">{{translations.TITLE_FIRST_PART_OF_SOLUTION}}</h5>
                  <mat-radio-group [formControl]="taskCorrectFirstPartOfSolution">
                    <ul class="list-unstyled">
                      <li class="mb-3" *ngFor="let wTypeSolution of wTypeFirstPartOfSolutions">
                        <mat-radio-button [value]="wTypeSolution">{{wTypeSolution}}</mat-radio-button>
                      </li>
                    </ul>
                  </mat-radio-group>
                </div>
              </div>
              <div class="col-6">
                <div class="col-12">
                  <h5 *ngIf="wTypeSecondPartOfSolutions.length > 0" class="mt-0 mb-2 text-center">{{translations.TITLE_SECOND_PART_OF_SOLUTION}}</h5>
                  <mat-radio-group [formControl]="taskCorrectSecondPartOfSolution">
                    <ul class="list-unstyled">
                      <li class="mb-3" *ngFor="let wTypeSolution of wTypeSecondPartOfSolutions">
                        <mat-radio-button [value]="wTypeSolution">{{wTypeSolution}}</mat-radio-button>
                      </li>
                    </ul>
                  </mat-radio-group>
                </div>
              </div>
            </div>
          </div>
          <!-- W_04 -->

          <!-- S_01 -->
          <div *ngIf="selectTaskType.value === 'S_01'">
            <mat-form-field class="w-100 mb-2">
              <input matInput #verticalElementValue [placeholder]="translations.TITLE_ADD_SOLUTION_ELEMENT_PLACEHOLDER" autocomplete="off">
              <mat-icon class="cursor-pointer" matSuffix (click)="addSTypeSolution(verticalElementValue.value); verticalElementValue.value = ''">add_circle_outline</mat-icon>
            </mat-form-field>
            <div *ngIf="sTypeSolutions.length > 0" cdkDropList class="swap-list-vertical mb-4" (cdkDropListDropped)="swapSTypeSolution($event)">
              <div class="swap-list-vertical-box" *ngFor="let sTypeSolution of sTypeSolutions" cdkDrag>{{sTypeSolution}}</div>
            </div>
          </div>
          <!-- S_01 -->

          <!-- S_02 -->
          <div *ngIf="selectTaskType.value === 'S_02'">
            <mat-form-field class="w-100 mb-2">
              <input matInput #horizontalElementValue [placeholder]="translations.TITLE_ADD_SOLUTION_ELEMENT_PLACEHOLDER" autocomplete="off">
              <mat-icon class="cursor-pointer" matSuffix (click)="addSTypeSolution(horizontalElementValue.value); horizontalElementValue.value = ''">add_circle_outline</mat-icon>
            </mat-form-field>
            <div *ngIf="sTypeSolutions.length > 0" cdkDropList cdkDropListOrientation="horizontal" class="swap-list-horizontal mb-4" (cdkDropListDropped)="swapSTypeSolution($event)">
              <div class="swap-list-horizontal-box" *ngFor="let sTypeSolution of sTypeSolutions" cdkDrag>{{sTypeSolution}}</div>
            </div>
          </div>
          <!-- S_02 -->

          <!-- G_01 -->
          <div *ngIf="selectTaskType.value === 'G_01'">
            <mat-form-field class="w-100 mb-2">
              <input matInput #dragAndDropGroupValue autocomplete="off" [placeholder]="translations.TITLE_ADD_SOLUTION_GROUP_PLACEHOLDER">
              <mat-icon class="cursor-pointer" matSuffix (click)="addGTypeGroup(dragAndDropGroupValue.value); dragAndDropGroupValue.value = ''">add_circle_outline</mat-icon>
            </mat-form-field>
            <mat-form-field class="w-100 mb-2">
              <input matInput #dragAndDropElementValue autocomplete="off" [placeholder]="translations.TITLE_ADD_SOLUTION_GROUP_ELEMENT_PLACEHOLDER">
              <mat-icon class="cursor-pointer" matSuffix (click)="addGTypeElement(dragAndDropElementValue.value); dragAndDropElementValue.value = ''">add_circle_outline</mat-icon>
            </mat-form-field>
            <div cdkDropListGroup *ngIf="getGTypeGroupKeys().length > 0">
              <div class="d-flex flex-wrap flex-sm-column flex-md-row flex-lg-row justify-content-center">
                <div *ngFor="let gTypeGroup of getGTypeGroupKeys()">
                  <h5 *ngIf="gTypeGroup !== mappingsService.gTypeAvailableElements" class="mt-0 mb-2 text-center">{{gTypeGroup}}</h5>
                  <div *ngIf="gTypeGroup !== mappingsService.gTypeAvailableElements"
                     cdkDropList
                     [cdkDropListData]="gTypeGroups[gTypeGroup]"
                     class="list-wrapper"
                     (cdkDropListDropped)="dropGTypeElement($event)">
                    <div class="list-element" *ngFor="let item of gTypeGroups[gTypeGroup]" cdkDrag>{{item}}</div>
                  </div>
                </div>
                <div *ngIf="gTypeGroups[mappingsService.gTypeAvailableElements]">
                  <h5 class="mt-0 mb-2 text-center">{{translations.TITLE_GROUP_ELEMENTS_PLACEHOLDER}}</h5>
                  <div
                     cdkDropList
                     [cdkDropListData]="gTypeGroups[mappingsService.gTypeAvailableElements]"
                     class="list-wrapper"
                     (cdkDropListDropped)="dropGTypeElement($event)">
                    <div class="list-element" *ngFor="let item of gTypeGroups[mappingsService.gTypeAvailableElements]" cdkDrag>{{item}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- G_01 -->

          <!-- G_02 -->
          <div *ngIf="selectTaskType.value === 'G_02'">
            <mat-form-field class="w-100 mb-2">
              <input matInput #gSelectNameValue [placeholder]="translations.TITLE_ADD_SOLUTION_GROUP_ELEMENT_PLACEHOLDER" autocomplete="off">
              <mat-icon class="cursor-pointer" matSuffix (click)="addGSelectElement(gSelectNameValue.value); gSelectNameValue.value = ''">add_circle_outline</mat-icon>
            </mat-form-field>
            <mat-form-field class="w-100 mb-2">
              <input matInput #gSelectGroupNameValue [placeholder]="translations.TITLE_ADD_SOLUTION_GROUP_PLACEHOLDER" autocomplete="off">
              <mat-icon class="cursor-pointer" matSuffix (click)="addGSelectGroup(gSelectGroupNameValue.value); gSelectGroupNameValue.value = ''">add_circle_outline</mat-icon>
            </mat-form-field>
            <div class="row" *ngFor="let gSelectElement of gSelectElements">
              <div class="col-6 pt-3">
                <span>{{gSelectElement['name']}}</span>
              </div>
              <div class="col-6">
                <mat-form-field class="w-100">
                  <mat-select [(ngModel)]="gSelectElement['value']" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let gSelectGroup of gSelectGroups" [value]="gSelectGroup">
                      {{gSelectGroup}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <!-- G_02 -->

          <div class="row">
            <div class="col-6 text-right">
              <button type="button" mat-raised-button color="accent" class="text-uppercase d-inline-block" (click)="resetCreateTaskForm()">{{translations.TITLE_TASK_ADD_CANCEL}}</button>
            </div>
            <div class="col-6 text-left">
              <button type="submit" mat-raised-button color="primary" class="text-uppercase mx-auto w-50" [disabled]="taskCreationForm.invalid">{{translations.ACTION_ADD}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
