<div class="container my-5">
  <div class="row">
    <div class="col-4">
      <div class="col-12 content-wrapper">
        <h4 class="mt-0 mb-4 text-center">{{translations.TITLE_CREATE_TASK_GROUP}}</h4>
        <form id="task-group-creation-form" class="d-flex flex-column mx-auto w-75" (ngSubmit)="createTaskGroup()" #createTaskGroupNgForm="ngForm">
          <mat-form-field class="w-100 mb-2">
            <input matInput placeholder="{{translations.ATTRIBUTE_TASK_GROUP_NAME}}" [formControl]="taskGroupName" required>
          </mat-form-field>
          <div class="w-100 mb-4">
            <mat-checkbox [(ngModel)]="isTestTaskGroup" name="isTestTaskGroup">{{translations.ATTRIBUTE_TASK_IS_TEST_GROUP}}</mat-checkbox>
          </div>
          <button type="submit" mat-raised-button color="primary" class="text-uppercase" [disabled]="taskGroupCreationForm.invalid">{{translations.ACTION_ADD}}</button>
        </form>
      </div>
      <div class="col-12 content-wrapper mt-4" *ngIf="taskGroups.length > 0">
        <h4 class="mt-0 mb-2 text-center">{{translations.TITLE_TASK_GROUPS}}</h4>
        <ul class="list-unstyled w-75 mx-auto">
          <li class="mb-1" *ngFor="let taskGroup of taskGroups" [ngClass]="{'font-weight-bold font-italic': taskGroup.isTestTaskGroup}">{{taskGroup.taskGroupName}}</li>
        </ul>
      </div>
    </div>
    <div class="col-8">
      <div class="col-12 content-wrapper">
        <h4 class="mt-0 mb-4 text-center">{{translations.TITLE_CREATE_TASK}}</h4>
        <form id="task-creation-form" class="d-flex flex-column mx-auto w-75" (ngSubmit)="createTask()" #createTaskNgForm="ngForm">
          <mat-form-field class="w-100 mb-2">
            <input matInput placeholder="{{translations.ATTRIBUTE_TASK_TITLE}}" [formControl]="taskTitle" required>
          </mat-form-field>
          <mat-form-field class="w-100 mb-2">
            <mat-select placeholder="{{translations.TITLE_ATTRIBUTE_TASK_GROUP}}" [formControl]="selectTaskGroup" required>
              <mat-option *ngFor="let taskGroup of taskGroups" [value]="taskGroup.id">
                {{taskGroup.taskGroupName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="w-100 mb-2">
            <mat-select placeholder="{{translations.ATTRIBUTE_TASK_TYPE}}" [formControl]="selectTaskType" (selectionChange)="onTaskTypeSelect()" required>
              <mat-option *ngFor="let taskType of taskTypes" [value]="taskType['code']">
                {{taskType['translation']}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="w-100 mb-2">
            <input matInput placeholder="{{translations.ATTRIBUTE_TASK_WEIGHT}}" [formControl]="taskWeight" type="number" [min]="1" [max]="10" required>
          </mat-form-field>
          <mat-form-field class="w-100 mb-2">
            <input matInput placeholder="{{translations.ATTRIBUTE_TASK_POINTS}}" [formControl]="taskPoints" type="number" [min]="1" [max]="20" required>
          </mat-form-field>
          <mat-form-field class="w-100 mb-2">
            <textarea matInput
                      placeholder="{{translations.ATTRIBUTE_TASK_CONTENT}}" [formControl]="taskContent"
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="2"
                      cdkAutosizeMaxRows="5"
                      required></textarea>
          </mat-form-field>
          <!-- T_01 -->
          <div *ngIf="selectTaskType.value === 'T_01'">
            <mat-form-field class="w-100 mb-2">
              <input matInput placeholder="{{translations.ATTRIBUTE_TASK_CORRECT_SOLUTION}}" [formControl]="taskCorrectSolution">
            </mat-form-field>
          </div>
          <!-- T_01 -->

          <!-- T_02 -->
          <div *ngIf="selectTaskType.value === 'T_02'">
            <mat-form-field class="w-100 mb-2">
            <textarea matInput
                      placeholder="{{translations.ATTRIBUTE_TASK_TIP}}" [formControl]="taskTip"
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="2"
                      cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
            <mat-form-field class="w-100 mb-2">
              <input matInput placeholder="{{translations.ATTRIBUTE_TASK_CORRECT_SOLUTION}}" [formControl]="taskCorrectSolution">
            </mat-form-field>
          </div>
          <!-- T_02 -->

          <!-- W_01 -->
          <div *ngIf="selectTaskType.value === 'W_01'">
            <mat-form-field class="w-100 mb-2">
              <input matInput #itemValue [placeholder]="translations.TITLE_ADD_SOLUTION_PLACEHOLDER">
              <mat-icon class="cursor-pointer" matSuffix (click)="addWTypeSolution(itemValue.value); itemValue.value = ''">add_circle_outline</mat-icon>
            </mat-form-field>
            <mat-radio-group [formControl]="taskCorrectSolution">
              <ul class="list-unstyled">
                <li class="mb-3" *ngFor="let wTypeSolution of wTypeSolutions">
                  <mat-radio-button [value]="wTypeSolution">{{wTypeSolution}}</mat-radio-button>
                </li>
              </ul>
            </mat-radio-group>
          </div>
          <!-- W_01 -->

          <!-- W_02 -->
          <div *ngIf="selectTaskType.value === 'W_02'">
            <mat-form-field class="w-100 mb-2">
              <input matInput #itemValue [placeholder]="translations.TITLE_ADD_SOLUTION_PLACEHOLDER">
              <mat-icon class="cursor-pointer" matSuffix (click)="addWTypeSolution(itemValue.value); itemValue.value = ''">add_circle_outline</mat-icon>
            </mat-form-field>
            <ul class="list-unstyled">
              <li class="mb-3" *ngFor="let wTypeCheckboxSolution of wTypeCheckboxSolutions">
                <mat-checkbox [(ngModel)]="wTypeCheckboxSolution['check']" [ngModelOptions]="{standalone: true}" value="true">{{wTypeCheckboxSolution['text']}}</mat-checkbox>
              </li>
            </ul>
          </div>
          <!-- W_02 -->

          <!-- W_03 -->
          <div *ngIf="selectTaskType.value === 'W_03'">
            <mat-radio-group [formControl]="taskCorrectSolution">
              <ul class="list-unstyled">
                <li class="mb-3"><mat-radio-button value="1">{{translations.TITLE_TRUE}}</mat-radio-button></li>
                <li class="mb-3"><mat-radio-button value="0">{{translations.TITLE_FALSE}}</mat-radio-button></li>
              </ul>
            </mat-radio-group>
          </div>
          <!-- W_03 -->

          <!-- W_04 -->
          <div *ngIf="selectTaskType.value === 'W_04'">
            <mat-form-field class="w-100 mb-2">
              <input matInput #firstPartItemValue [placeholder]="translations.TITLE_ADD_SOLUTION_PLACEHOLDER">
              <mat-icon class="cursor-pointer" matSuffix (click)="addWTypeToPartOfSolution(firstPartItemValue.value, 1); firstPartItemValue.value = ''">add_circle_outline</mat-icon>
            </mat-form-field>
            <mat-form-field class="w-100 mb-2">
              <input matInput #secondPartItemValue [placeholder]="translations.TITLE_ADD_SOLUTION_REASON_PLACEHOLDER">
              <mat-icon class="cursor-pointer" matSuffix (click)="addWTypeToPartOfSolution(secondPartItemValue.value, 2); secondPartItemValue.value = ''">add_circle_outline</mat-icon>
            </mat-form-field>
            <div class="row">
              <div class="col-6">
                <div class="col-12">
                  <h5 *ngIf="wTypeFirstPartOfSolutions.length > 0" class="mt-0 mb-2 text-center">{{translations.TITLE_FIRST_PART_OF_SOLUTION}}</h5>
                  <mat-radio-group [formControl]="taskCorrectFirstPartOfSolution">
                    <ul class="list-unstyled">
                      <li class="mb-3" *ngFor="let wTypeSolution of wTypeFirstPartOfSolutions">
                        <mat-radio-button [value]="wTypeSolution">{{wTypeSolution}}</mat-radio-button>
                      </li>
                    </ul>
                  </mat-radio-group>
                </div>
              </div>
              <div class="col-6">
                <div class="col-12">
                  <h5 *ngIf="wTypeSecondPartOfSolutions.length > 0" class="mt-0 mb-2 text-center">{{translations.TITLE_SECOND_PART_OF_SOLUTION}}</h5>
                  <mat-radio-group [formControl]="taskCorrectSecondPartOfSolution">
                    <ul class="list-unstyled">
                      <li class="mb-3" *ngFor="let wTypeSolution of wTypeSecondPartOfSolutions">
                        <mat-radio-button [value]="wTypeSolution">{{wTypeSolution}}</mat-radio-button>
                      </li>
                    </ul>
                  </mat-radio-group>
                </div>
              </div>
            </div>
          </div>
          <!-- W_04 -->

          <div class="row">
            <div class="col-6 text-right">
              <button type="button" mat-raised-button color="accent" class="text-uppercase d-inline-block" (click)="resetCreateTaskForm()">{{translations.TITLE_TASK_ADD_CANCEL}}</button>
            </div>
            <div class="col-6 text-left">
              <button type="submit" mat-raised-button color="primary" class="text-uppercase mx-auto w-50" [disabled]="taskCreationForm.invalid">{{translations.ACTION_ADD}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
