<div class="container my-5">
  <div class="row mb-4" *ngIf="user && user.role && user.role === 'student'">
    <div class="col-sm-4 col-xs-12" *ngIf="stats.numberOfTests !== null || stats.numberOfTaskGroups !== null">
      <div class="col-12 content-wrapper mb-4">
        <h3 class="text-center w-100 my-2" *ngIf="!user">{{translations.TITLE_WELCOME}}!</h3>
        <h3 class="text-center w-100 my-2" *ngIf="user">{{translations.TITLE_WELCOME}} {{user.nick}}!</h3>
        <p class="text-justify w-100 my-2">{{translations.TITLE_WELCOME_TEXT}}</p>
      </div>
      <div class="col-12 content-wrapper mb-4 mb-sm-0">
        <h4 class="text-center w-100 mt-2 mb-4">{{translations.TITLE_AVAILABLE_TASK_GROUPS}}</h4>
        <ul class="list-unstyled">
          <li class="mb-4 cursor-pointer" (click)="goToLearn()">
            <span *ngIf="stats.numberOfTaskGroups !== null" matBadge="{{stats.numberOfTaskGroups}}" matBadgeOverlap="false" matBadgePosition="above after">{{translations.TITLE_AVAILABLE_TASK_GROUPS_TASKS}}</span>
          </li>
          <li class="cursor-pointer" (click)="goToTest()">
            <span *ngIf="stats.numberOfTests !== null" matBadge="{{stats.numberOfTests}}" matBadgeOverlap="false" matBadgePosition="above after">{{translations.TITLE_AVAILABLE_TASK_GROUPS_TESTS}}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-8 col-xs-12">
      <div class="col-12 content-wrapper">
        <h4 class="text-center w-100 my-2">{{translations.TITLE_STATS}}</h4>
        <div class="row mb-2">
          <div class="col-6">
            <ul class="list-unstyled">
              <li class="mb-2"><span>{{translations.TITLE_STATS_POINTS}}:</span></li>
              <li class="mb-2"><span>{{translations.TITLE_STATS_CORRECT_SOLUTIONS}}:</span></li>
              <li class="mb-2"><span>{{translations.TITLE_STATS_INVALID_SOLUTIONS}}:</span></li>
              <li class="mb-2"><span>{{translations.TITLE_STATS_AVG_SOLUTION_DURATION}}:</span></li>
            </ul>
          </div>
          <div class="col-6">
            <ul class="list-unstyled">
              <li class="mb-2"><span>{{stats.points}}</span></li>
              <li class="mb-2"><span>{{stats.correctSolutions}}</span></li>
              <li class="mb-2"><span>{{stats.invalidSolutions}}</span></li>
              <li class="mb-2"><span>{{(stats.avgSolutionDuration / 1000).toFixed(2)}} s</span></li>
            </ul>
          </div>
        </div>
        <div class="row" *ngIf="pieChartData.length > 0 && stats && stats.allSolutions > 0">
          <div class="col-12">
            <div class="chart mx-auto w-50">
              <canvas baseChart
                      [data]="pieChartData"
                      [labels]="pieChartLabels"
                      [chartType]="pieChartType"
                      [options]="pieChartOptions"
                      [colors]="pieChartColors"
                      [legend]="pieChartLegend">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-4" *ngIf="user && user.role && user.role === 'teacher'">
    <div class="col-12">
      <div class="col-12 content-wrapper mb-4">
        <h3 class="text-center w-100 my-2" *ngIf="!user">{{translations.TITLE_WELCOME}}!</h3>
        <h3 class="text-center w-100 my-2" *ngIf="user">{{translations.TITLE_WELCOME}} {{user.nick}}!</h3>
        <p class="text-center w-100 my-2">{{translations.TITLE_WELCOME_TEXT_TEACHER}}</p>
      </div>
    </div>
  </div>
  <div class="row mb-4" *ngIf="user && user.role && (user.role === 'teacher' || user.role === 'student') && (
  !isRankingLoaded || !isPrivateRankingLoaded || ranking.length > 0 || privateRanking.length > 0)">
    <div class="col-12">
      <div *ngIf="ranking.length > 0" class="col-12 content-wrapper mb-4">
        <h4 class="text-center w-100 my-2" *ngIf="ranking.length > 0">{{translations.TITLE_RANK}}</h4>
        <table mat-table [dataSource]="ranking" class="w-100" *ngIf="ranking.length > 0">

          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef>{{translations.TITLE_PLACE}}</th>
            <td mat-cell *matCellDef="let i = index;">{{i + 1}}</td>
          </ng-container>

          <ng-container matColumnDef="studentNick">
            <th mat-header-cell *matHeaderCellDef>{{translations.ATTRIBUTE_NICK}}</th>
            <td mat-cell *matCellDef="let element">{{element.studentNick}}</td>
          </ng-container>

          <ng-container matColumnDef="studentPoints">
            <th mat-header-cell *matHeaderCellDef>{{translations.TITLE_STATS_POINTS}}</th>
            <td mat-cell *matCellDef="let element">{{element.studentPoints}}</td>
          </ng-container>

          <ng-container matColumnDef="avgStudentSolutionDuration">
            <th mat-header-cell *matHeaderCellDef>{{translations.TITLE_STATS_AVG_SOLUTION_DUR}}</th>
            <td mat-cell *matCellDef="let element">{{(element.avgStudentSolutionDuration / 1000).toFixed(2)}} s</td>
          </ng-container>

          <ng-container matColumnDef="studentGroupNames">
            <th mat-header-cell *matHeaderCellDef>{{translations.TITLE_GROUPS}}</th>
            <td mat-cell *matCellDef="let element">{{element.studentGroupNames.length > 0 ? element.studentGroupNames : '---'}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns; let element" [ngClass]="{'table-checked-row': element && isLoggedUserNick(element.studentNick)}"></tr>
        </table>
      </div>
      <div *ngIf="!loaderService.isLoading && (!isRankingLoaded || !isPrivateRankingLoaded)" class="col-12 mb-4 text-center">
        <div style="width: 100px;" class="mx-auto">
          <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
        </div>
      </div>
      <div *ngFor="let pRanking of privateRanking" class="col-12 content-wrapper mb-4">
        <h4 class="text-center w-100 my-2" *ngIf="pRanking.ranking.length > 0">{{translations.TITLE_RANK_OF_CLASS}} {{pRanking.groupName}}</h4>
        <h4 class="text-center w-100 my-2" *ngIf="pRanking.ranking.length < 1">{{translations.EMPTY_GROUP}} {{pRanking.groupName}}</h4>
        <table mat-table [dataSource]="pRanking.ranking" class="w-100" *ngIf="pRanking.ranking.length > 0">

          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef>{{translations.TITLE_PLACE}}</th>
            <td mat-cell *matCellDef="let i = index;">{{i + 1}}</td>
          </ng-container>

          <ng-container matColumnDef="studentNick">
            <th mat-header-cell *matHeaderCellDef>{{translations.ATTRIBUTE_NICK}}</th>
            <td mat-cell *matCellDef="let element">{{element.studentNick}}</td>
          </ng-container>

          <ng-container matColumnDef="studentPoints">
            <th mat-header-cell *matHeaderCellDef>{{translations.TITLE_STATS_POINTS}}</th>
            <td mat-cell *matCellDef="let element">{{element.studentPoints}}</td>
          </ng-container>

          <ng-container matColumnDef="avgStudentSolutionDuration">
            <th mat-header-cell *matHeaderCellDef>{{translations.TITLE_STATS_AVG_SOLUTION_DUR}}</th>
            <td mat-cell *matCellDef="let element">{{(element.avgStudentSolutionDuration / 1000).toFixed(2)}} s</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedPrivateColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedPrivateColumns; let element" [ngClass]="{'table-checked-row': element && isLoggedUserNick(element.studentNick)}"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
