@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities/flex';
@import '~bootstrap/scss/utilities/sizing';
@import '~bootstrap/scss/utilities/spacing';
@import '~bootstrap/scss/utilities/text';
@import '~bootstrap/scss/utilities/align';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// custom colors
$custom-shadow-color: #efefef;
// custom colors

@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'Lato, sans-serif'
);
@include mat-core($custom-typography);

* {
  font-family: Lato, sans-serif;
}

@mixin center($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

.center-xy {
  @include center;
}

.center-x {
  @include center(true, false);
}

.center-y {
  @include center(false, true);
}

.cursor-pointer {
  cursor: pointer;
}

mat-card.mat-card {
  &.form-wrapper {
    max-width: 400px;
  }
}

mat-form-field.mat-form-field {
  font-size: 16px;
}

.main-container {
  background-color: $white;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  border-radius: 4px;
  @extend .my-5;
  @extend .p-4;
}
