@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities/flex';
@import '~bootstrap/scss/utilities/sizing';
@import '~bootstrap/scss/utilities/spacing';
@import '~bootstrap/scss/utilities/text';
@import '~bootstrap/scss/utilities/align';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// custom colors
$custom-primary-color: #3f51b5;
$custom-shadow-color: #efefef;
$custom-bg-color: #fafafa;
// custom colors

@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'Lato, sans-serif'
);
@include mat-core($custom-typography);

* {
  font-family: Lato, sans-serif;
}

@mixin center($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

.center-xy {
  @include center;
}

.center-x {
  @include center(true, false);
}

.center-y {
  @include center(false, true);
}

.cursor-pointer {
  cursor: pointer;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

mat-card.mat-card {
  &.form-wrapper {
    max-width: 400px;
  }
}

mat-form-field.mat-form-field {
  font-size: 16px;
}

.mat-checkbox-layout, .mat-radio-label {
  white-space: normal !important;
}

.mat-tab-body-wrapper {
  @extend .py-4;
}

.content-wrapper {
  background-color: $white;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  border-radius: 4px;
  @extend .py-4;
  @extend .px-2;
  @extend .px-md-4;
}

.content-wrapper-bg {
  background-color: $custom-bg-color;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  border-radius: 4px;
  @extend .py-4;
  @extend .px-2;
  @extend .px-md-4;
}

.swap-list-vertical {
  width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.swap-list-vertical-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.swap-list-vertical-box:last-child {
  border: none;
}

.swap-list-vertical.cdk-drop-list-dragging .swap-list-vertical-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.swap-list-horizontal {
  width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.swap-list-horizontal-box {
  padding: 20px 10px;
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
}

.swap-list-horizontal-box:last-child {
  border: none;
}

.swap-list-horizontal.cdk-drop-list-dragging .swap-list-horizontal-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list-wrapper {
  width: 200px;
  border: solid 1px #ccc;
  background: #ccc;
  cursor: default;
  min-height: 60px;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  @extend .mb-4;
  @extend .mx-1;
}

.list-element {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.list-element:last-child {
  border: none;
}

.list-wrapper.cdk-drop-list-dragging .list-element:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.table-checked-row {
  background-color: $custom-primary-color;
  td.mat-cell {
    color: #fff;
  }
}

.chart {
  max-height: 400px;
  min-width: 300px;
}

.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 100px;
  width: 100px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.loading-indicator:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
